services:
  backend:
    image: node:20-alpine
    container_name: townhub-backend
    working_dir: /app
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: sh -c "npx prisma generate --schema=database/schema.prisma && npm run dev"
